includeConfig 'luslab-nf-modules/configs/luslab-base.config'

params {
    verbose = false
    bd_hmem = false
    bd_cpus = 32
    bd_memory = 128.GB
    bd_time = 72.h

    // Module params
    modules{
        'cust_samtools_faidx' {
            args             = ""
            publish_dir      = "_"
            publish_results  = "none"
        }
        'tobias_atacorrect' {
            publish_dir      = "tobias_atacorrect"
            publish_results  = "all"
        }
        'tobias_footprint' {
            publish_dir      = "tobias_footprint"
            publish_results  = "all"
        }
        'tobias_bindetect' {
            publish_dir      = "tobias_bindetect"
            publish_results  = "all"
        }
        'tobias_plotaggregate' {
            publish_dir      = "tobias_plotaggregate"
            publish_results  = "all"
        }
    }

    // Pipline defaults
    genome_index = ''
    skip_bam_index = false
    skip_genome_index = false
    output_peaks = ''

    //JASPAR2020 files start with >, need their columns reorganize and have :: and (var2)
    motif_list_command_jaspar = "awk '{if(\$1 ~ />/) {a=\$2\"_\"\$1; gsub(/>/,\"\",a); gsub(\"::\",\"\",a); gsub(/[()]/,\"\",a); print a}}'"

    // + sign needs to be removed
    motif_list_command_meme = "awk '{if(\$1 ~ /^MOTIF/){a=\$2; gsub(\"\\+\",\"\",a); print a}}'"
     
    //motif_bundle_count = 4
}

manifest {
    name = 'TOBIAS-pipeline'
    author = 'Luscombe-Briscoe Labs'
    homePage = 'pipeline-homepage'
    description = 'pipeline-description'
    nextflowVersion = '>=21.04.0'
    version = '1.1'
}

profiles {
  test { includeConfig 'configs/test.config' }
  test_output_peaks { includeConfig 'configs/test-output-peaks.config' }
  test_meme { includeConfig 'configs/test.config'
              params.motifs = "$baseDir/test_data/motif_pwms.meme" }
  crick_tobias { includeConfig 'configs/crick-tobias.config' }
}

def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'gpus') {
    try {
      return Math.min( obj, params.max_gpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max gpus '${params.max_gpus}' is not valid! Using default value: $obj"
      return obj as String
    }
  }
}