includeConfig 'luslab-nf-modules/configs/luslab-base.config'
params {
    verbose = true
}

manifest {
    name = 'TOBIAS-pipeline'
    author = 'Luscombe-Briscoe Labs'
    homePage = 'pipeline-homepage'
    description = 'pipeline-description'
    nextflowVersion = '>=20.01.0'
    version = '0.1'
}

process {
  // Memory and time increases with the number of retrys
  cpus = { check_max( 2, 'cpus' ) }
  memory = { check_max( 4.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }
  
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 1
  maxErrors = '-1'
  
  // Place process specific resource strategies here
  withName: tobias_atacorrect {
    time = { check_max( 24.h * task.attempt, 'time' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    cpus = { check_max( 8 , 'cpus' ) }
    maxRetries = 2
  }

  withName: tobias_footprint {
    time = { check_max( 24.h * task.attempt, 'time' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    cpus = { check_max( 8 , 'cpus' ) }
    maxRetries = 2
  }

  withName: tobias_bindetect {
    time = { check_max( 24.h * task.attempt, 'time' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    cpus = { check_max( 8 , 'cpus' ) }
    maxRetries = 2
  }
}