/*Selectors priority
When mixing generic process configuration and selectors the following priority rules are applied (from lower to higher):

1. Process generic configuration.
2. Process specific directive defined in the workflow script.
3. withLabel selector definition.
4. withName selector definition.
*/
process {  
  // Place process specific resource strategies here
  withName: tobias_atacorrect {
    cpus = { check_max( 32 , 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }
  }

  withName: tobias_footprint {
    cpus = { check_max( 32 , 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }
  }

  withName: tobias_plotaggregate {
    cpus = { check_max( 1 , 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }
  }

  withName: tobias_bindetect {
    cpus = { check_max( params.bd_cpus , 'cpus' ) }
    memory = { check_max( params.bd_memory * task.attempt, 'memory' ) }
    time = { check_max( params.bd_time * task.attempt, 'time' ) }
    queue = params.bd_hmem ? 'hmem' : 'cpu'
  }
}