params {
    design = "$baseDir/test_data/test-design.csv"
    //genome = "$baseDir/test_data/genome.sub.fa"
    genome = "s3://ngi-igenomes/igenomes/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
    regions = "$baseDir/test_data/test-consensus-fgf8.bed"
    blacklist = "$baseDir/test_data/mm10-blacklist.txt"
    motifs = "$baseDir/test_data/motif_pwms.txt"
    peaks = "$baseDir/test_data/test-consensus-fgf8.bed"
    output_peaks = "$baseDir/test_data/test-output-peaks.bed"
}