params {
    design = "$baseDir/test_data/test-design.csv"
    genome = "$baseDir/test_data/genome.fa"
    regions = "$baseDir/test_data/test-consensus-fgf8.bed"
    blacklist = "$baseDir/test_data/mm10-blacklist.txt"
    motifs = "$baseDir/test_data/motif_pwms.txt"
    peaks = "$baseDir/test_data/test-consensus-fgf8.bed"
}